* {
    box-sizing: border-box;
}

html {
    font-family: Verdana;
    color: #555555;
    font-size: 16px;
}

.header {
    background: linear-gradient(60deg, red, orange);
}

h1 {
    text-align: center;
    color: white;
}

.footer {
    background-color: #e5e5e5;
    padding: 0.5em;
    margin-top: auto;
    text-align: center;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    display: flex;
}

.navigation {
    width: 20%;
    padding: 0;
    padding: 0 0.5em;
}

.section {
    width: 60%;
    padding: 0 0.5em;
    font-size: 1.25em;
}

.section__header {
    font-size: 5vw;
    text-align: center;
}

.nav-list {
    padding: 0;
    list-style-type: none;
}

.nav-list-item {
    line-height: 1.75em;
    height: 2em;
    background-color: #808080;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    margin-bottom: 0.5em;
}

.nav-list-item a {
    color: white;
    text-decoration: none;
    width: 100%;
    margin-left: 0.5em;
}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
}

.news {
    width: 20%;
    padding: 0 0.5em;
}