* {
    box-sizing: border-box;
}

.image-container {
    margin-top: 50px;
    max-width: 100%;
}

.image {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

.gallery {
    margin-top: 50px;
    display: flex;
}

.card {
    margin: 16px;
    box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
    /* box-shadow: 0px 5px 30px -9px rgba(0, 0, 0, 0.75); */
}

.card figure {
    margin: 0;
}

.card figcaption {
    text-transform: lowercase;
    line-height: 30px;
    text-align: center;
}

.card .opacity {
    filter: opacity(50%);
}

.card .blur {
    filter: blur(4px);
}

.card .invert {
    filter: invert(100%);
}